<% provide(:title, @customers.login) %>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @customers %>
        <%= @customers.login %>
      </h1>
    </section>
  </aside>
</div>
<table>
	
	  <tr>
    <th>Login</th>
    <th>Imie</th>
    <th>Nazwisko</th>
    <th>Email</th>
    <th>Data utworzenia</th>
    <th>Data modyfikacji</th>    
  </tr>
 

  <tr>
    <td><%= @customers.login %></td>
    <td><%= @customers.name %></td>
     <td><%= @customers.surname %></td>
     <td><%= @customers.email %></td>
     <td><%= @customers.created_at %></td>
     <td><%= @customers.updated_at %> </td>
  </tr>

</table>
