<h1> Klienci </h1>

<table class='myTable'>
	
	
	  <tr>
    <th>Login</th>
    <th>Name</th>
    <th>Email</th>
    <th>Email</th>
    <th>Created Date</th>
    <th>Updated Date</th>    
  </tr>
 
<% @customer.each do |customer| %>
  <tr>
    <td><%= customer.login %></td>
    <td><%= customer.name %></td>
     <td><%= customer.surname %></td>
     <td><%= customer.email %></td>
     <td><%= customer.created_at %></td>
     <td><%= customer.updated_at %> </td>
  </tr>
<% end %>
</table>
